.contents-container {
	background-color: #fff;
	margin: 20px 0;
}

.content-section {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.content-section:last-child {
	border-bottom: none;
}

.content-title {
	font-weight: bold;
	color: #333; /* 가정된 제목 색상 */
	margin-bottom: 5px;
	padding-left: 5px;
	text-decoration-line: none;
	display: inline;
	box-shadow: inset 0 -10px 0 #d6f0ff;
}

.content-description {
}
.content-image {
	max-width: 100%; /* 이미지가 컨테이너 너비를 초과하지 않도록 설정합니다. */
	height: auto; /* 이미지의 높이가 자동으로 비율에 맞춰 조정되도록 설정합니다. */
	display: block; /* 이미지를 블록 요소로 만들어 새 줄에서 시작하도록 합니다. */
	margin: 0 auto; /* 이미지를 컨테이너의 가운데에 배치합니다. */
	margin-top: 10px;
}
